* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(31, 27, 78);
}
 
.grid-container {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.btn{
  outline: none;
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: gray;
  color: white;
  font-size: 15px;
}

h1 {
  text-align: center;
  color: white;
}

.grid-container div {
  width: calc(500px / 16);
  height: calc(500px / 16);
  border: 1px solid black;
}
